.container{
  text-align: center;
}
.button{
  border: none;
   color: white;
   background-color: tomato;
}
.details-container{
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
